numpy==1.16.6
simplejson==3.16.0
opencv_python==3.4.3.18
scipy==1.1.0
pyquaternion==0.9.2
tqdm==4.25.0
Pillow==5.3.0
pyrr==0.9.2
PyYAML==3.13
photutils #==0.5
torch==0.4.0
torchvision==0.2.1
horovod==0.13.5